.container{
  background-image:linear-gradient(#e2a139,#f9d423);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagi{
    width: 300px;
    height:400px;
    justify-content: center;
    align-items:center;
}
.in{
  background-color: #ffffff;
  border-radius: 40px;
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.b{
 background-color: #e2a139;
 color:#a35200;
 border:none;
 border-radius: 3px;
 font-style: "roboto";
 font-family: bold;
 height:30px;
}
.tabs{
  display:flex;
  flex-direction: row;
}
h1{
  color:#a35200;
}
p{
  margin-right: 20px;
}
h3{
  color:#475569;
}